.content-box-lw {
  position: relative;
  display: grid;
  grid-template-rows: 4em auto 4em auto 4em auto 4em auto 6em auto;
}

.content-category-lw {
  margin-left: auto;
  margin-right: auto;
}

.equip-box-lw {
  display: grid;
  /* grid-template-columns: auto; */
  grid-template-rows: auto auto auto;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  /* max-width: 60%; */
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.kalli-guide {
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 50%;
}

.calc-guide-box {
  display: grid;
  grid-template-rows: 30em;
  grid-template-columns: 1fr 1fr 1fr;
}

.calc-example-box {
  display: grid;
  grid-template-rows: 15em;
  grid-template-columns: 1fr 1fr 1fr;
}

.calc-img {
  background-size:contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 50%;
}

.vault-img {
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 40em;
  width: 100%;
}

.eyes-img {
  background-size: cover;
  background-origin: border-box;
  background-position: 50%;
  border-radius: 0.5em;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 1px  rgba(255,255,255,0.05),
              inset 0 -1px 0 0 rgba(255,255,255,0.1),
                    0 0 1em 0  rgba(0,0,0,0.3);
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 16em;
}

@media (orientation: portrait) {
  .content-box-lw {
    grid-template-rows: 3em auto 3em auto 3em auto 3em auto 3em auto;
  }
  .content-category-lw {
    margin-left: 0;
  }
  .kalli-guide {
    height: 7em;
  }
  .calc-guide-box {
    grid-template-rows: 12em;
  }
  .calc-example-box {
    grid-template-rows: 7em;
  }
  .vault-img {
    height: 20em;
  }
  .eyes-img {
    width: 100%;
    height: 11em;
  }
  
}