.content-box-gos {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 20em;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

@media (orientation: portrait) {
  .content-box-gos {
    width: 100%;
    grid-template-rows: 18em 18em;
    grid-template-columns: auto;
    grid-row-gap: 2em;
  }
}

@media (orientation: landscape) and (min-width: 1300px) {
  .content-box-gos {
    grid-template-rows: 25em;
  }
}