.content-box-dng {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.content-subbox-dng {
  display: grid;
  grid-template-rows: 2em 12em;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.content-category-dng {
  grid-column: span 2;
  margin-left: 0;
  margin-right: auto;
}

.maps-pit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

@media (orientation: portrait) {
  .content-box-dng {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-row-gap: 2em;
  }
}
